<div class="section" id="section2">

        <div class="container">
          <div class="row">
            <div class="col-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec aliquam neque. Nullam dapibus dapibus odio eget ullamcorper. Praesent lobortis suscipit sagittis. Quisque at magna ac lorem convallis posuere. Vivamus et tellus ligula. Fusce est velit, mollis et turpis ornare, condimentum convallis est.
            </div>
            <div class="col-sm">
                <img id=logo src="../images/logo_6.png">
            </div>
            <div class="col-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec aliquam neque. Nullam dapibus dapibus odio eget ullamcorper. Praesent lobortis suscipit sagittis. Quisque at magna ac lorem convallis posuere. Vivamus et tellus ligula. Fusce est velit, mollis et turpis ornare, condimentum convallis est.
            </div>
          </div>
        </div>
        
        </div>